<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('中奖记录表新增')"/>
</head>
<body>
<form class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

							<div class="layui-form-item">
			                    <label class="layui-form-label">奖品Id</label>
			                    <div class="layui-input-block">
			                        <input type="text" name="lotteryId" autocomplete="off" placeholder="奖品Id" class="layui-input">
			                    </div>
			                </div>
		

							<div class="layui-form-item">
			                    <label class="layui-form-label">奖品编号</label>
			                    <div class="layui-input-block">
			                        <input type="text" name="lotteryNo" autocomplete="off" placeholder="奖品编号" class="layui-input">
			                    </div>
			                </div>
		

							<div class="layui-form-item">
			                    <label class="layui-form-label">奖品内容</label>
			                    <div class="layui-input-block">
			                        <input type="text" name="lotteryContent" autocomplete="off" placeholder="奖品内容" class="layui-input">
			                    </div>
			                </div>
		

							<div class="layui-form-item">
			                    <label class="layui-form-label">抽奖日期</label>
			                    <div class="layui-input-block">
			                        <input type="text" name="lotteryDate" autocomplete="off" placeholder="抽奖日期" class="layui-input">
			                    </div>
			                </div>
		

							<div class="layui-form-item">
			                    <label class="layui-form-label">用户Id</label>
			                    <div class="layui-input-block">
			                        <input type="text" name="userId" autocomplete="off" placeholder="用户Id" class="layui-input">
			                    </div>
			                </div>
		

							<div class="layui-form-item">
			                    <label class="layui-form-label"></label>
			                    <div class="layui-input-block">
			                        <input type="text" name="isDeleted" autocomplete="off" placeholder="" class="layui-input">
			                    </div>
			                </div>
		

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="lotteryHistory-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form','laydate','jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let MODULE_PATH = rootPath+"/LotteryHistoryController";


        //保存
        form.on('submit(lotteryHistory-save)', function (data) {
        	let loader = layer.load();
            $.ajax({
                url: MODULE_PATH+'/add',
                data: data.field,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                type: 'post',
                success: function (result) {
                    if (result.code==200) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("lotteryHistory-table");
                            layer.close(loader);
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                        layer.close(loader);
                    }
                }
            })
            return false;
        });
    })
</script>
</body>
</html>