<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('排行榜评论点亮表修改')"/>
</head>
<body>
<form class="layui-form" action=""  th:object="${LeaderBoardEvaluateStar}">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

						<div class="layui-form-item layui-hide">
		                    <label class="layui-form-label">主键</label>
		                    <div class="layui-input-block">
		                        <input type="text" th:value="*{id}" name="id" lay-verify="title"
		                               autocomplete="off" class="layui-input">
		                    </div>
		                </div>
		
					
						<div class="layui-form-item">
		                    <label class="layui-form-label">榜单 ID</label>
		                    <div class="layui-input-block">
		                        <input th:value="*{leaderBoardObjectId}" type="text" name="leaderBoardObjectId" autocomplete="off" placeholder="榜单 ID" class="layui-input">
		                    </div>
		                </div>
					                
		
					
						<div class="layui-form-item">
		                    <label class="layui-form-label">评论 ID</label>
		                    <div class="layui-input-block">
		                        <input th:value="*{evaluateId}" type="text" name="evaluateId" autocomplete="off" placeholder="评论 ID" class="layui-input">
		                    </div>
		                </div>
					                
		
					
						<div class="layui-form-item">
		                    <label class="layui-form-label">点亮用户 ID</label>
		                    <div class="layui-input-block">
		                        <input th:value="*{userId}" type="text" name="userId" autocomplete="off" placeholder="点亮用户 ID" class="layui-input">
		                    </div>
		                </div>
					                
		


            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="leaderBoardEvaluateStar-update">
                <i class="layui-icon layui-icon-ok"></i>
				提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
				重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form','laydate','jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let MODULE_PATH = rootPath+"/LeaderBoardEvaluateStarController";


        form.on('submit(leaderBoardEvaluateStar-update)', function (data) {
        	let loader = layer.load();
            $.ajax({
                url: MODULE_PATH+'/edit',
                data: data.field,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                type: 'post',
                success: function (result) {
                    if (result.code==200) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("leaderBoardEvaluateStar-table");
                            layer.close(loader);
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                        layer.close(loader);
                    }
                }
            })
            return false;
        });
    })
</script>
</body>
</html>