<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('奖品配置表修改')"/>
</head>
<body>
<form class="layui-form" action=""  th:object="${LotteryConfig}">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

						<div class="layui-form-item layui-hide">
		                    <label class="layui-form-label"></label>
		                    <div class="layui-input-block">
		                        <input type="text" th:value="*{id}" name="id" lay-verify="title"
		                               autocomplete="off" class="layui-input">
		                    </div>
		                </div>
		
					
						<div class="layui-form-item">
		                    <label class="layui-form-label">奖品名称</label>
		                    <div class="layui-input-block">
		                        <input th:value="*{lotteryName}" type="text" name="lotteryName" autocomplete="off" placeholder="奖品名称" class="layui-input">
		                    </div>
		                </div>
					                
		
					
						<div class="layui-form-item">
		                    <label class="layui-form-label">奖品内容</label>
		                    <div class="layui-input-block">
		                        <input th:value="*{lotteryContent}" type="text" name="lotteryContent" autocomplete="off" placeholder="奖品内容" class="layui-input">
		                    </div>
		                </div>
					                
		
					
						<div class="layui-form-item">
		                    <label class="layui-form-label">奖品 icon 地址</label>
		                    <div class="layui-input-block">
		                        <input th:value="*{imageUrl}" type="text" name="imageUrl" autocomplete="off" placeholder="奖品 icon 地址" class="layui-input">
		                    </div>
		                </div>
					                
		
					
						<div class="layui-form-item">
		                    <label class="layui-form-label">中奖概率设置</label>
		                    <div class="layui-input-block">
		                        <input th:value="*{threshold}" type="text" name="threshold" autocomplete="off" placeholder="中奖概率设置" class="layui-input">
		                    </div>
		                </div>
					                
		
					
						<div class="layui-form-item">
		                    <label class="layui-form-label">功德值范围 </label>
		                    <div class="layui-input-block">
		                        <input th:value="*{meritStart}" type="text" name="meritStart" autocomplete="off" placeholder="功德值范围 " class="layui-input">
		                    </div>
		                </div>
					                
		
					
						<div class="layui-form-item">
		                    <label class="layui-form-label">功德值范围</label>
		                    <div class="layui-input-block">
		                        <input th:value="*{meritEnd}" type="text" name="meritEnd" autocomplete="off" placeholder="功德值范围" class="layui-input">
		                    </div>
		                </div>
					                
		
					
<!--						<div class="layui-form-item">-->
<!--		                    <label class="layui-form-label"></label>-->
<!--		                    <div class="layui-input-block">-->
<!--		                        <input th:value="*{isDeleted}" type="text" name="isDeleted" autocomplete="off" placeholder="" class="layui-input">-->
<!--		                    </div>-->
<!--		                </div>-->
					                

            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="lotteryConfig-update">
                <i class="layui-icon layui-icon-ok"></i>
				提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
				重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form','laydate','jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let MODULE_PATH = rootPath+"/LotteryConfigController";


        form.on('submit(lotteryConfig-update)', function (data) {
        	let loader = layer.load();
            $.ajax({
                url: MODULE_PATH+'/edit',
                data: data.field,
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                type: 'post',
                success: function (result) {
                    if (result.code==200) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("lotteryConfig-table");
                            layer.close(loader);
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                        layer.close(loader);
                    }
                }
            })
            return false;
        });
    })
</script>
</body>
</html>